{% extends 'base_centered_card.html.twig' %}

{% block title %}
    Set new account password
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit" role="button">Save New Password</button>
    {{ form_end(form) }}
{% endblock %}
