{% extends 'base_with_sidebar.html.twig' %}

{% block sidebar_content %}
    <a href="{{ path('profile') }}"
        class="btn btn-sidebar{% if app.request.attributes.get('_route') == 'profile' %} active{% endif %}">
        <i class="fa fa-fw fa-user"></i> Profile Overview
    </a>
    <a href="{{ path('adventure_lists_index') }}"
        class="btn btn-sidebar{% if app.request.attributes.get('_route') == 'adventure_lists_index' %} active{% endif %}">
        <i class="fa fa-fw fa-bookmark"></i> Bookmarked adventures
    </a>
    <a href="{{ path('change_password') }}"
        class="btn btn-sidebar{% if app.request.attributes.get('_route') == 'change_password' %} active{% endif %}">
        <i class="fa fa-fw fa-key"></i> Change Password
    </a>
{% endblock %}

{% block content %}
    <div class="adl-card">
        <div class="adl-card-body">
            {% block profile_content %}{% endblock %}
        </div>
    </div>
{% endblock %}