{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">Welcome, @{{ app.user.username }}!</h1>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'profile' %} active{% endif %}" href="{{ path('profile') }}">
                                    <i class="fa fa-user"></i> Overview
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') starts with 'adventure_lists_' %} active{% endif %}" href="{{ path('adventure_lists_index') }}">
                                    <i class="fa fa-bookmark"></i> Bookmarked adventures
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'change_password' %} active{% endif %}" href="{{ path('change_password') }}">
                                    <i class="fa fa-key"></i> Change Password
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        {% block profile_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

