{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">Change Password</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Change Password" class="btn btn-primary" role="button" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
