{% extends 'profile/base.html.twig' %}

{% block profile_content %}
    <div class="title">Change Password</div>
    <div class="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Change Password" class="btn btn-primary" role="button" />
        {{ form_end(form) }}
    </div>
{% endblock %}
