{% extends 'profile/base.html.twig' %}

{% block profile_content %}
    <h1 class="adl-card-title">Change Password</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Change Password" class="btn btn-primary" role="button" />
    {{ form_end(form) }}
{% endblock %}
