.idea/
.vagrant/
.web-server-pid
.php_cs.cache
app/config/parameters.yml
build/
node_modules/
phpunit.xml
var/bootstrap.php.cache
var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/*
!/web/bundles/.gitkeep
/web/assets/*
!/web/assets/.gitkeep
/web/assets/vendor/

npm-debug.log
ubuntu-*.log
yarn-error.log
