.idea/
.vagrant/
app/config/parameters.yml
build/
node_modules/
phpunit.xml
var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/
web/bundles/
web/assets/
web/assets/vendor/

