{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">New field</h1>
                <div class="alert alert-info">Creating a new field will allow you to add this field to any adventures you like. Before creating a new field, make sure a similar field doesn't already exist.</div>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="Create" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
