{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">New tag</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="Create" />
                {{ form_end(form) }}

                <h3 class="mt-3">Other actions</h3>
                <ul>
                    <li>
                        <a href="{{ path('tags_index') }}">Back to the list</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
