<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-5 col-md-8">
                <h5>Adventure Lookup</h5>
                <p>
                    Adventure Lookup is a catalog of adventures for Dungeons and Dragons and its clones.
                    We need your help to expand the catalog and ensure each entry is reasonably accurate.
                    Simply create an account to start adding adventures or submit change requests!
                    If you added a substantive amount, you may
                    <a href="https://www.reddit.com/r/AdventureLookup/comments/6th0n4/apply_here_to_be_a_curator/">apply here</a>
                    to be promoted to a curator.
                    <br>
                    <a href="https://twitter.com/mattcolville">Matt Colville</a> first talked about the idea in
                    <a href="https://www.youtube.com/watch?v=PIyLvicSu78">a video of his</a>
                    in 2016. It wasn't until August 2017 before
                    <a href="https://www.youtube.com/watch?v=D3OllWSRhuI">the site went live</a>.
                </p>
            </div>
            <div class="col-lg-3 col-md-4">
                <h5>Questions?</h5>
                <p>
                    Feel free to ask any questions in the official
                    <a href="https://reddit.com/r/AdventureLookup">/r/AdventureLookup</a>
                    subreddit. If you want to report a bug, typo or suggest a feature,
                    you're welcome to create a new issue in our
                    <a href="https://github.com/AdventureLookup/AdventureLookup">GitHub Repository</a>.
                </p>
            </div>
            <div class="col-lg-4 col-md-12">
                <h5>Get Involved!</h5>
                <p>
                    If you know how to code, checkout the
                    <a href="https://github.com/AdventureLookup/AdventureLookup">GitHub Repository</a>
                    and help implement new features or join our
                    <a href="https://discord.gg/0111UjFmfsOzDqan7">Discord developer chat</a>.
                    Contributions and questions are always welcome!
                    <br />
                    AdventureLookup also has a <a href="{{ path('api_docs') }}">REST API</a>.
                </p>
                <p>
                    Adventure Lookup is made possible by
                    <a href="https://github.com/cmfcmf">@cmfcmf</a> and
                    <a href="https://github.com/AdventureLookup/AdventureLookup/graphs/contributors">other fine people</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
