$element-margin-bottom: 10px;
$tag-margin: 4px;

#search-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: $element-margin-bottom / 2;
  @extend %secondaryFont;
}

#search-tags {
  margin: $element-margin-bottom 0;

  .badge,
  .tag-operator,
  .tag-wrapper {
    margin-right: $tag-margin;
    margin-bottom: $tag-margin;
  }

  .tag-wrapper {
    display: inline-block;
    border: 1px solid $adl-grey-light;
    border-radius: 2px;
    padding-top: $tag-margin;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: $tag-margin;
  }

  .badge {
    &::after {
      content: "\f00d";
      font: 1rem "FontAwesome";
    }
    &:hover {
      cursor: pointer;
    }

    &.badge-primary:hover {
      background-color: darken($adl-coral, 7.5%);
    }
    &.badge-clear {
      color: $grey-light--font-color;
      background-color: $grey-light--background-color;

      &:hover {
        background-color: $grey-dark--background-color;
      }
    }
  }
}

#search-bar {
  display: flex;
  margin-bottom: $element-margin-bottom;

  button,
  input {
    font-size: 1.2rem;
  }
}

#search-tips-link {
  display: block;
  margin-bottom: $layout-gutter / 2;
  margin-top: -$element-margin-bottom + 2px;
  padding-left: 10px;

  font-weight: $adl-secondary-font-weight;
  font-family: $adl-secondary-font-name;
  color: #333333;
}

#search-results {
  .adl-card {
    margin-bottom: $layout-gutter;
  }

  %no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %secondaryFont;
  }

  .no-results {
    @extend %no-results;
    min-height: 300px;
  }
  .no-more-results {
    @extend %no-results;
    min-height: 150px;
  }
}
