$border: 1px solid $adl-grey-lightest;

.adventure-details {
  .detail-row {
    @extend .row;

    display: flex;

    &:first-child {
      border-top: $border;
    }

    > div {
      padding: 10px 12px;

      border-bottom: $border;
      &:not(:last-child) {
        border-right: $border;
      }

      .label {
        margin-bottom: 4px;
        color: $white--font-color-highlight;

        font-size: inherit;
        font-weight: normal;

        @extend %font-roboto-condensed;
      }

      .level {
        text-transform: capitalize;
      }

      ul {
        padding-left: 20px;
        margin-bottom: 0;
        list-style-type: square;
      }

      // Change padding of first element in each row to match the card padding.
      // There is no automated way to achieve this with pure CSS -> We have to
      // apply the .first class manually depending on the current breakpoint.
      &.first {
        padding-left: $adl-card-padding-horizontal;
      }
      &.first-sm-down {
        @include media-breakpoint-down(sm) {
          padding-left: $adl-card-padding-horizontal;
        }
      }
      &.first-md-down {
        @include media-breakpoint-down(md) {
          padding-left: $adl-card-padding-horizontal;
        }
      }
      &.first-xs {
        @include media-breakpoint-only(xs) {
          padding-left: $adl-card-padding-horizontal;
        }
      }
    }
  }
}

.from-the-community {
  @extend %secondaryFont;
}
