$element-margin-bottom: 10px;

$thumbnail-offset: 1.5rem;
$thumbnail-width: 85px;
$thumbnail-height: 100px;

#adventure-container {
  @extend .content-container;

  .thumbnail-container {
    position: absolute;
    top: $thumbnail-offset;
    right: $thumbnail-offset;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;

    .thumbnail {
      max-width: $thumbnail-width;
      max-height: $thumbnail-height;
      border: $adl-border-grey-lightest-big;
    }

    #adventure_list-bookmark-menu {
      margin-top: 8px;
    }
  }

  .tags-container {
    display: flex;
    padding: .8rem $adl-card-padding-side;
    overflow: hidden;
    border-top: $adl-border-grey-lightest-big;
    border-bottom: $adl-border-grey-lightest-big;

    .tag {
      padding: 3px 12px;
      margin-right: 6px;
      background-color: $adl-grey-light;
      border-radius: $adl-border-radius-big;
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      color: #ffffff;

      &::before {
        font: 1rem 'FontAwesome';
        padding-right: .25rem;
      }

      &.tag-edition::before { content: '\f013'; }
      &.tag-level::before { content: '\f024'; }
      &.tag-length::before { content: '\f02d'; }
      &.tag-featured {
        background-color: $adl-coral;

        &::before { content: '\f219'; }
      }
    }
  }

  .description {
    display: block;
    display: -webkit-box;
    margin: $adl-card-padding;
    margin-right: calc(#{$adl-card-padding-side} + #{$thumbnail-width} + #{$thumbnail-offset});
  }

  .detail-row {
    display: flex;
    border-bottom: 1px solid $adl-grey-lightest;

    &:first-child {
      border-top: 1px solid $adl-grey-lightest;
    }

    > div {
      flex-grow: 1;
      padding: $adl-card-padding-top $adl-card-padding-side/2;

      &:not(:last-child) {
        border-right: 1px solid $adl-grey-lightest;
      }

      .label {
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        color: $adl-grey-light;
      }

      ul {
        padding-left: 30px;
        margin-bottom: 0;
      }
    }
  }
}