#adl-announcement {
  .announcement-bar {
      text-align: center;
      color: white;
      padding: 5px;
      font-size: 1.2rem;
      background-color: #911313;
      box-shadow: 4px 2px 2px #aaa;
      margin-bottom: 5px;
  }

  .header-container {
      position: relative;
  }
}