#filter-panel {
  margin-top: 20px;
  padding: 0;
  background-color: $adl-grey-dark;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;

  > .title {
    padding: $adl-filter-padding;
    background-color: $adl-coral;
    color: $white;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-align: center;
  }

  #filter-search {
    @extend .filter;

    .elastic-search {
      width: calc(100% - 28px);
      min-height: $adl-filter-min-height;
      padding: $adl-filter-padding;
      border: 0;
      background-color: $adl-grey-dark;
      color: $adl-filter-text-muted;
      font-size: 1.2rem;
      text-transform: uppercase;

      &:focus {
        outline: 0;
        color: $adl-filter-text;
      }
    }
  }

  #filter-buttons {
    @extend .filter;

    padding: 8px $adl-filter-padding-side;
  }
}