.filter {
  position: relative;
  min-height: $adl-filter-min-height;
  border-bottom: 2px solid $adl-grey-light;
  color: $adl-filter-text;

  &.active {
    .option {
      display: block;
    }
  }

  .title {
    padding: $adl-filter-padding;
    font-size: 1.2rem;
  }

  .options-list {

    .option {
      background-color: $adl-grey-darkest;
      padding: 8px $adl-filter-padding-side;
      border-top: 1px solid $adl-grey-light;
      color: $adl-filter-text;

      > input {
        display: none;
      }
    }

    .more {
      text-align: center;
      font-size: 1rem;
    }
  }
}