.filter {
  position: relative;
  min-height: $adl-filter-min-height;
  border-bottom: $adl-border-grey-lightest-big;
  color: $adl-offwhite;

  // Is open
  &.open {
    .options-list { display: initial; }
    .option { display: flex; }
    .title:after { content: $fa-var-caret-up; }
  }
  // Has one or more options selected
  &.filter-marked {
    .title:after {
      content: $fa-var-check;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    padding: $adl-filter-padding;
    background-color: $adl-grey-dark;
    font-size: 1.2rem;

    &:after {
      content: $fa-var-caret-down;
      font: 1.75rem 'FontAwesome';
    }
    &:hover {
      background-color: darken($adl-grey-dark, 7.5%);
      cursor: pointer;
    }
  }

  .options-list { display: none; }

  .option {
    display: none;
    justify-content: space-between;
    background-color: $adl-grey-darkest;
    padding: $adl-filter-padding;
    border-bottom: 1px solid $adl-grey-light;
    color: $adl-offwhite;

    &:hover {
      background-color: darken($adl-grey-darkest, 7.5%);
      cursor: pointer;
    }
    &.filter-marked:after {
      content: $fa-var-check;
      font: 1.5rem 'FontAwesome';
    }

    > input[type="checkbox"] {
      display: none;
    }

    &.show-more {
      padding: $adl-filter-padding-top/2;
      justify-content: space-around;
      font-size: .9rem;
    }

    &.show-less {
      @extend .show-more;
      display: none;
    }
  }
}

// Don't suggest that the always-open filters can be collapsed
.filter.always-open {
  .title {
    &:after {
      content: '';
    }
    &:hover {
      background-color: $adl-grey-dark;
      cursor: default;
    }
  }

  .option {
    display: flex;

    &:hover {
      background-color: $adl-grey-darkest;
      cursor: default;
    }
  }
}

#filter-more {
  display: flex;
  justify-content: center;
  height: 30px;
  background-color: $adl-coral;
  color: #ffffff;

  &:after {
    content: '\f141';
    font: 2.5rem 'FontAwesome';
  }
  &:hover {
    cursor: pointer;
    background-color: darken($adl-coral, 7.5%);
  }
}
