#filter-panel {
  align-self: flex-start;
  margin-top: 20px;
  padding: 0;
  background-color: $adl-grey-dark;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;

  box-shadow: $adl-box-shadow;

  > .title {
    padding: $adl-filter-padding;
    background-color: $adl-coral;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    text-align: center;
  }

  #filter-buttons {
    padding: 8px $adl-filter-padding-side;
  }
}