.footer {
  background-color: $grey-darkest--background-color;
  color: $grey-darkest--font-color;

  margin-top: 100px;
  padding: 15px 0 3px 0;

  a {
    color: $grey-darkest--font-color-highlight;
  }
}
