// some links shouldn't have underlines
a.no-underline:hover {
  text-decoration: none;
}

%secondaryFont {
  font: $adl-secondary-font-weight $adl-secondary-font-height
    $adl-secondary-font-name;
  line-height: $adl-secondary-font-height;
  color: #333333;
  text-transform: uppercase;
}

%font-roboto {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

%font-roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

%background--coral {
  color: #ffffff;
  background-color: $adl-coral;
}

%background--coral--hoverable {
  @extend %background--coral;

  &:hover {
    background-color: darken($adl-coral, 7.5%);
  }
}

%background--grey-dark {
  color: $grey-dark--font-color;
  background-color: $grey-dark--background-color;
}

%background--grey-dark--hoverable {
  @extend %background--grey-dark;

  &:hover {
    background-color: darken($grey-dark--background-color, 7.5%);
  }
}

.truncate-3 {
  max-height: 1rem * $adl-line-height * 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}

.truncate-6 {
  max-height: 1rem * $adl-line-height * 6;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 6;
}
