.content-container {
  @extend .card;

  padding-bottom: $adl-body-padding;
  margin-top: $adl-body-margin-top;
  color: #000;
  box-shadow: $adl-box-shadow;

  .title {
    padding: $adl-card-padding;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .content {
    padding: 0 $adl-card-padding-side;
  }

  .alert {
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding-left: $adl-card-padding-side;
    padding-right: $adl-card-padding-side;
  }
}

// some links shouldn't have underlines
a.no-underline:hover {
  text-decoration: none;
}

%secondaryFont {
  font: $adl-secondary-font-weight $adl-secondary-font-height
    $adl-secondary-font-name;
  line-height: $adl-secondary-font-height;
  color: #333333;
  text-transform: uppercase;
}

.adl-card {
  @extend .card;
  color: #000;
  box-shadow: $adl-box-shadow;

  .card-body {
    padding: $adl-card-padding;
  }
}

.truncate-6 {
  display: block;
  display: -webkit-box;
  max-height: 1rem * $adl-line-height * 6;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
