#adl-announcement {
  text-align: center;
  background-color: $red--background-color;
  color: $red--font-color;

  margin-bottom: $layout-gutter / 2;
  padding: 5px;
  font-size: 1.2rem;
  box-shadow: $adl-box-shadow;
}

#adl-header {
  @extend .container;
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    right: $adl-body-padding;

    display: flex;
    justify-content: flex-end;
    height: $right-header-height;
  }

  #adl-header-login-dropdown,
  .dropdown-menu {
    min-width: 125px;
  }

  .header-box-dark {
    background-color: $adl-grey-darkest;
    color: $adl-offwhite;

    height: 30px;

    &.dropdown-toggle {
      margin-left: $layout-gutter / 2;
    }

    border-radius: 0;
    box-shadow: $adl-box-shadow;
    @extend %font-roboto-condensed;
  }
}
