.adl-sidebar {
  @extend %font-roboto;
  box-shadow: $adl-box-shadow;
  margin-bottom: $layout-gutter;

  button {
    border: none;
    text-transform: inherit;
  }

  .sidebar-title {
    display: block;
    padding: $adl-filter-padding;

    @extend %background--coral--hoverable;

    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-align: center;
    @include media-breakpoint-only(md) {
      // Otherwise the text does not fit into a single line.
      letter-spacing: normal;
    }
  }

  .btn-sidebar {
    display: block;
    padding: $adl-filter-padding;

    border-radius: 0;
    border-bottom: $adl-border-grey-lightest-big;
    &:last-child {
      border-bottom: none;
    }

    font-size: 1.2rem;
    text-align: left;

    @extend %background--grey-dark--hoverable;
  }
}

.adl-sidebar-standalone-btn {
  padding: 8px 10px;
  margin-bottom: $layout-gutter / 2;
  border-radius: 0;
  box-shadow: $adl-box-shadow;
  font-size: 1.2rem;
  @extend %font-roboto-condensed;

  > i:first-child {
    margin-right: 3px;
  }
}

@import "sidebar-filters";
