#adl-sidebar {
  align-self: flex-start;
  margin-top: 20px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;

  > .content {
    box-shadow: $adl-box-shadow;
    margin-bottom: 8px;

    > .title {
      padding: $adl-filter-padding;
      background-color: $adl-coral;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: .2rem;
      text-align: center;
    }

    #filter-more {
      display: flex;
      justify-content: center;
      height: 30px;
      background-color: $adl-coral;
      color: #ffffff;

      &:after {
        content: '\f141';
        font: 2.5rem 'FontAwesome';
      }
      &:hover {
        cursor: pointer;
        background-color: darken($adl-coral, 7.5%);
      }
    }
  }

  input[type="button"],
  a.btn {
    display: flex;
    max-width: 80%;
    justify-content: space-evenly;
    background-color: $adl-grey;
    margin: 12px auto;
    padding: 8px 25px;
    border-radius: 0;
    font: 1.2rem 'Roboto Condensed';
    text-transform: uppercase;
    box-shadow: $adl-box-shadow;

    &:after {
      font: 1.6rem 'FontAwesome';
    }
    &:hover {
      cursor: pointer;
      background-color: darken($adl-grey, 7.5%);
    }

    &#create-adventure:after { content: '\f055'; }
  }
}