$tag-margin: 6px;

.tags-container {
  margin-bottom: 8px;
  margin-left: -$adl-card-padding-horizontal;
  margin-right: -$adl-card-padding-horizontal;

  padding: 8px $adl-card-padding-horizontal 8px-$tag-margin
    $adl-card-padding-horizontal;

  border-top: $adl-border-grey-lightest-big;
  border-bottom: $adl-border-grey-lightest-big;

  .tag {
    padding: 4px 12px;
    margin-right: $tag-margin;
    margin-bottom: $tag-margin;

    background-color: $grey-light--background-color;
    color: $grey-light--font-color;

    border-radius: 20px;
    @extend %font-roboto-condensed;
    display: inline-block;

    &::before {
      font-family: "FontAwesome";
      padding-right: 0.25rem;
    }

    &.tag-edition::before {
      content: $fa-var-cog;
    }
    &.tag-level::before {
      content: $fa-var-flag;
    }
    &.tag-length::before {
      content: $fa-var-book;
    }
  }

  a.tag {
    transition: 100ms;
    &:hover {
      text-decoration: none;

      background-color: $grey-dark--background-color;
      color: $grey-dark--font-color;
    }
  }
}
