.tags-container {
  padding: 0.8rem $adl-card-padding-side;
  border-top: $adl-border-grey-lightest-big;
  border-bottom: $adl-border-grey-lightest-big;

  .tag {
    padding: 3px 12px;
    margin-right: 6px;
    margin-bottom: 6px;
    background-color: $grey-light--background-color;
    color: $grey-light--font-color;
    border-radius: $adl-border-radius-big;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    display: inline-block;

    &::before {
      font: 1rem "FontAwesome";
      padding-right: 0.25rem;
    }

    &.tag-edition::before {
      content: $fa-var-cog;
    }
    &.tag-level::before {
      content: $fa-var-flag;
    }
    &.tag-length::before {
      content: $fa-var-book;
    }
  }

  a.tag {
    transition: 100ms;
    &:hover {
      text-decoration: none;

      background-color: $grey-dark--background-color;
      color: $grey-dark--font-color;
    }
  }
}
