.adventure-info-list {
  column-count: 1;
  column-gap: 40px;

  @media (min-width: map-get($grid-breakpoints, md)) {
    column-count: 2;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    column-count: 3;
  }
}

.adventure-show--details {
  font-size: .9rem;

  .data-row {
    @extend .row;
    border-bottom: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }

    .col {
      padding-bottom: .5rem;
      padding-top: .5rem;
      border-right: 1px solid #cdcdcd;
      font-weight: 500;

      &:last-child {
        border-right: 0;
      }

      div.label {
        font-weight: 400;
      }
    }
  }
}

.adventure-show--details-old {
  column-count: 1;

  @media (min-width: map-get($grid-breakpoints, md)) {
    column-count: 2;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    column-count: 3;
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    column-count: 4;
  }
}