.adventure-show--details {
  font-size: .9rem;

  .data-row {
    @extend .row;
    border-bottom: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }

    .col, .col-sm {
      padding-bottom: .5rem;
      padding-top: .5rem;
      border-right: 1px solid #cdcdcd;
      font-weight: 500;

      &:last-child {
        border-right: 0;
      }

      div.label {
        font-weight: 400;
      }
    }
  }
}
