.filter-card {
  .filters .show-more {
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .filter-title {
    cursor: pointer;
  }
  .form-check {
      margin-bottom: 0;
  }

  // Default state, filter not expanded
  .fa-caret-up, .filter-content {
    display: none;
  }
  .fa-caret-down {
    display: inline;
  }
  .card-title {
    margin: 0;
  }

  // Filter expanded
  &.expanded {
    .fa-caret-up {
      display: inline;
    }
    .fa-caret-down {
      display: none;
    }
    .filter-title {
      padding-bottom: 0;
    }
    .filter-content {
      padding-top: 0;
      display: block;
    }
    .card-title {
      margin-bottom: .75rem;
    }
  }
}
