@import 'mixins/breakpoint';
@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';
@import 'variables';
@import 'adventure';
@import 'adventures';
@import 'curation';
@import 'filter';
@import 'general';
@import 'header';
@import 'login_register_forgot';
@import 'profile';
@import 'sidebar';

// Third party / Vendor styles for successful integration
@import 'vendor/bootstrap';
@import 'vendor/selectize';

// Override vendor/bootstrap styles
html, body {
  margin: 0;
  padding: 0;
  background-color: $adl-grey-lightest;
  font-size: 12px;

  > .container {
    margin-bottom: 20px;
  }
}

label {
  margin-bottom: 0;
}
