@import 'variables';
@import 'adventure';
@import 'filter';
@import 'filter_panel';

// Third party / Vendor styles for successful integration
@import 'vendor/selectize';

html, body {
  margin: 0;
  padding: 0;
  background-color: $gray-light;
}