{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">I am looking for&hellip;</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque blanditiis deleniti doloribus explicabo fugiat incidunt inventore laborum libero, magnam maxime molestiae neque nihil officia, quam quas quia quibusdam reiciendis.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('adventure_index') }}" role="button">Search database</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row text-center my-5">
            <div class="col">
                <h5>&hellip;something with lots of <em>Goblins</em> and a <em>Beholder</em> in the <em>Underdark</em>.</h5>
                <a href="{{ path('adventure_index', {q: 'goblins, beholder, underdark'}) }}" class="btn btn-sm btn-outline-primary">Find adventures</a>
            </div>
            <div class="col">
                <h5 class="mb-3">&hellip;an adventure for <em>a big party</em> of <em>third level</em> involving a <em>Ring of Protection</em>.</h5>
                <a href="{{ path('adventure_index', {q: 'ring of protection'}) }}" class="btn btn-sm btn-outline-primary">Find adventures</a>
            </div>
            <div class="col">
                <h5 class="mb-3">&hellip;an idea of how to integrate the <em>City of Dis</em> and a bunch of <em>Skeletons</em>.</h5>
                <a href="{{ path('adventure_index', {q: 'city of dis, skeletons'}) }}" class="btn btn-sm btn-outline-primary">Find adventures</a>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">A tool for DMs and Players</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque blanditiis deleniti doloribus explicabo fugiat incidunt inventore laborum libero, magnam maxime molestiae neque nihil officia, quam quas quia quibusdam reiciendis.</p>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2>Want to help out?</h2>
                <p class="lead">Follow the development on <a href="TODO">GitHub</a> and submit bugs and features!</p>
            </div>
        </div>
    </div>
{% endblock %}