# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: adl
    database_user: root
    database_password: root
    database_driver: mysql

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: CHANGE_THIS_wam9p8u5f0m9sv8aikv9bktfpzudjeg98tfcykexsae4v9zb

    google_analytics_code: ~

    recaptcha_public_key: ~
    recaptcha_private_key: ~

    # Email addresses to be notified if an error occurs
    error_email_addresses: []

    # Affiliate code mappings. Will be applied to the links on the adventure detail page.
    # Each mapping can specify multiple domains. Subdomains are ignored.
    # A query parameter named $param will be added or overridden and set to the value
    # provided in $code. Example:
    #
    # affiliate_mappings:
    #     - domains: ['drivethrurpg.com']
    #       param:   'affiliate_id'
    #       code:    'abc123'
    #     - domains: ['amazon.de', 'amazon.com']
    #       param:   'something'
    #       code:    '123abc'

    affiliate_mappings: []
    announcement: ~

    elasticsearch_host: 'localhost:9200'
    elasticsearch_index_name: 'adventure'
