{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">Add info to "{{ tagContent.adventure.title }}"</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="Create" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
