<form method="post" action="{{ path('curated_domain_delete', {'id': curated_domain.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-curated-domain-' ~ curated_domain.id) }}">
    <button class="btn btn-sm btn-danger">Delete</button>
</form>
