{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">Create Change Request for "{{ adventure.title }}"</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success" role="button">
                    Submit change request
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
