{% extends 'base.html.twig' %}

{% block body %}
    {% import _self as macros %}
    <div class="container" id="page--search-adventures">
        <div class="row">
            <div class="col">
                <div id="adl-sidebar">
                    <div class="title">Adventure Lookup</div>
                    <form method="post" action="{{ url('adventure_index') }}" id="search-form">
                        {% include 'adventures/search_filters.html.twig' %}
                    </form>
                    <div id="filter-more"></div>
                </div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a id="create-adventure" class="btn btn-secondary" href="{{ path('adventure_new') }}">Add a new adventure</a>
                {% endif %}
            </div>
            <div class="col-9">
                {% include 'adventures/search_results_header.html.twig' %}
                {% include 'adventures/search_results_tags.html.twig' %}
                {% include 'adventures/search_results.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
