<div id="search-title">
    <div>
        <span class="d-none d-lg-block">A community for lazy dungeon masters</span>
    </div>
    <div>
        {{ totalNumberOfResults }} {{ totalNumberOfResults == 1 ? 'adventure' : 'adventures' }} found
    </div>
</div>
<div id="search-results-header-react-root"></div>