<div id="search-title">
    <div>
        A community for lazy dungeon masters
    </div>
    <div>
        {{ totalNumberOfResults }} {{ totalNumberOfResults == 1 ? 'adventure' : 'adventures' }} found
    </div>
</div>
<div id="search-bar">
    <input type="text" class="elastic-search" name="q" value="{{ q }}" placeholder="SEARCH FOR"/>
    <input type="button" id="search-submit" class="btn btn-primary" value="SEARCH" />
</div>