{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">Edit adventure</h1>

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" class="btn btn-primary" role="button" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
