{% extends 'base.html.twig' %}
{% block title %}{{ adventure.title }} - Adventure Lookup {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'adventure/sidebar.html.twig' %}
            </div>
            <div class="col-9">
                {% include 'adventure/show.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}