{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="page--create-adventure" data-similar-titles-url="{{ path('similar_titles_search') }}" data-search-url="{{ path('api_autocomplete_field', {fieldName: '__FIELD__'}) }}">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <h1 class="my-5">New adventure</h1>
                {% if not adventure.approved %}
                    <div class="alert alert-info">Your new adventure will need approval from a curator.</div>
                {% endif %}
                <div class="alert alert-warning">AdventureLookup is for D&D and it's clones. Not other systems/genres.</div>

                {{ form_start(form) }}

                {% include 'adventure/_form.html.twig' %}

                <input type="submit" value="Save" class="btn btn-primary" role="button" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% include 'adventure/_new_content_modal.html.twig' %}
{% endblock %}
