<div id="adl-sidebar">
    <div class="content">
        <div class="title">Adventure Lookup</div>
    </div>

    <input type="button" id="adventure-suggest-edit" class="btn btn-secondary" value="Suggest Edits" />
    <input type="button" id="adventure-report-issue" class="btn btn-secondary" value="Report Issue" />
</div>