<div id="adl-sidebar">
    <div class="content">
        <a class="no-underline" href="{{ path('adventure_index') }}">
            <div class="sidebar-title">Adventure Lookup</div>
        </a>
    </div>

    {% if is_granted('edit', adventure) %}
        <a href="{{ path('adventure_edit', { 'id': adventure.id }) }}"
           class="btn btn-secondary" role="button">
            <i class="fa fa-edit"></i>
            Edit adventure
        </a>
    {% else %}
    <a href="#" class="btn btn-secondary" role="button">
        <i class="fa fa-edit"></i>
        Suggest Edits
    </a>
    {% endif %}
    <a href="https://github.com/adventurelookup/adventurelookup/issues"
       target="_blank" class="btn btn-secondary" role="button">
        <i class="fa fa-flag"></i>
        Report Issue
    </a>

    {% if is_granted('delete', adventure) %}
    {{ form_start(delete_form) }}
    <button class="btn btn-sm btn-outline-danger"
            onclick="return confirm('Do you really want to delete this adventure?')">
        <i class="fa fa-trash"></i> Delete
    </button>
    {{ form_end(delete_form) }}
    {% endif %}
</div>