{% if blame %}
    by
    <a href="{{ path('audit', {filters: {blamed: blame.fk}}) }}">
        {{ blame.label }} <i class="fa fa-history" title="Show all resource history"></i>
    </a>
{% else %}
    by <strong>system or task runner.</strong>
{% endif %}
