{% extends 'base_with_collapsed_sidebar.html.twig' %}

{% block content %}
    <div class="adl-card">
        <div class="adl-card-body">
            <h1 class="adl-card-title">Recent Activity</h1>
            <p class="adl-card-text">Showing page {{ pagination.currentPageNumber }} of {{ pagination.pageCount }} pages.</p>
            <table class="table">
                <tbody>
                {% for log in pagination %}
                    {{ audit(log) }}
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
