name: "CI"
on:
  push:
  pull_request:

jobs:
  lint:
    name: Lint Code
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        php-version:
          - "7.0"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          tools: "cs2pr"

      - name: "Cache dependencies installed with composer"
        uses: "actions/cache@v1"
        with:
          path: "~/.composer/cache"
          key: "php-${{ matrix.php-version }}-composer-locked-${{ hashFiles('composer.lock') }}"
          restore-keys: "php-${{ matrix.php-version }}-composer-locked-"

      - name: "Install dependencies with composer"
        run: "composer install --no-interaction --no-progress --no-suggest"

      - name: "Check PHP code style with php-cs-fixer"
        run: "composer run lint -- --format=checkstyle | cs2pr"
